doctype html
html(lang='en')
  head
    title Ecologiate
    script(type='text/javascript').
      foo = true;
      bar = function () {};
      if (foo) {
      bar(1 + 5)
      }
  body
    h1(style='text-align: center;')
      strong Ecologiate
    p(style='text-align: center;')  
    p(style='text-align: center;')
      strong Escaneá
      |  tus productos desechables
    p(style='text-align: center;')
      | Conocé el 
      strong impacto
      |  de su reciclado
    p(style='text-align: center;')
      | Descubrí 
      strong dónde depositarlos
    p(style='text-align: center;')  
    p(style='text-align: center;') Contacto: ecologiateapp@gmail.com
